<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Portal de Reclamações - IFRN</title>
</head>
<body>
  <div class="container">
    <h1>Portal de Reclamações - IFRN</h1>
    <form method="post" action="/envia_mensagem" method="POST">
      <label for="matricula">Matrícula</label>
      <input type="text" id="matricula" name="matricula" required />

      <label for="anexo">Anexo</label>
      <input type="text" id="anexo" name="anexo" />

      <label for="mensagem">Escreva Sua Mensagem Abaixo</label>
      <textarea id="mensagem" name="mensagem" required></textarea>

      <button type="submit" class="btn-enviar">Enviar Mensagem</button>
    </form>
  </div>
</body>
</html>
