<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Cadastro de usuários</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
    <h1>Cadastrar mensagem</h1>
   <form action="/enviar_mensagem" method="POST" enctype="multipart/form-data">
    <form>
        <div class="mb-3">
            <label for="matricula" class="form-label">Matrícula</label>
            <input type="text" class="form-control" id="matricula" name="formMatricula">
        </div>
        <div class="mb-3">
            <label for="anexo" class="form-label">Anexo</label>
            <input type="file" class="form-control" id="anexo" name="formAnexo">
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" name="formSenha">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>

    <h2>Usuários Cadastrados</h2>
    <div class="container-sm">
        <table class="table">
            <tr>
                <th scope="col">Matrícula</th>
                <th scope="col">Anexo</th>
                <th scope="col">Senha</th>
            </tr>
            {% for item in result %}
            <tr>
                <td>{{item["matricula"]}}</td>
                <td>{{item["anexo"]}}</td>
                <td>{{item["senha"]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
